body{
   background-color: hsl(228, 45%, 86%); 
   font-family: 'Outfit', sans-serif;
}

.titel{
    background-color: white;
    width: 191px;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
    margin-top: 17%; 
    font-size: 11px; text-align: center;
    height: 287px;
    font-weight: 900;
    border-radius: 9px;
    border-top: 7px white solid;
perspective: 100px;
}


.titel .p1{
   width: 122px;
   margin-left: 32px; 
}

.title2{
    color: rgba(0, 0, 0, 0.221);
}

.img img{
    width: 176px;
    border-radius: 9px;
}