body{
   background-color: hsl(228, 45%, 86%); 
   font-family: 'Outfit', sans-serif;
   background-color: hsl(212, 45%, 89%);
}

.titel{
    width: 191px;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
    margin-top: 17%; 
    font-size: 11px; text-align: center;
    height: 287px;
    font-weight: 900;
    border-radius: 9px;
}

div {
    display: inline-block;
    perspective: 100px;
    transform: translateZ(30px);
    background-color: white;
    width: 191px;
    justify-content: center;
    align-items: center;
    font-size: 11px; text-align: center;
    font-weight: 900;
    border-radius: 9px;
    border-top: 7px white solid;
}
.p-1{
    border-radius: 0px;
}

.p-2{
    border-top-left-radius:0px ;
    border-top-right-radius:0px ;
}

.img-1{
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
}

.titel .p1{
   width: 122px;
   margin-left: 32px; 
}

.title2{
    color: rgba(0, 0, 0, 0.221);
}

.img img{
    width: 176px;
    border-radius: 9px;
}